@use "@/assets/scss/variables.scss"as *;

%follow-btn {
    display: inline-flex;
    align-items: center;
    padding: 2vmin 4vmin;
    background-color: $primaryColor;
    color: #fff;
    font-weight: bold;
    font-size: 3vmin;
    border-radius: 1vmin;
    text-decoration: none;
    transition-duration: 0.4s;

    &:hover {
        background-color: $secondaryColor;

        .icon {
            transform: translateX(5px);
        }
    }

    .icon {
        transition-duration: 0.4s;
        font-size: 3vmin;
        margin-left: 1vmin;
    }
}

// HTML 
//  <router-link to="/aktualnosci" class="news-btn">
//      Pokaż wszystkie aktualności
//      <font-awesome-icon icon="fa-solid fa-arrow-right" class="icon" />
//  </router-link>

%title-header {
    font-size: 4vmin;
    color: $primaryColor;
    font-weight: bold;
    font-family: $fancyFont;
    text-align: left;
    margin: 2vmin 10vmin;
}

%card {
    flex: 1 1 17vw;
    max-width: 17vw;
    background-color: $bgColor;
    border-radius: 1vmin;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 2vmin;
    border: 1px solid #ccc;

    h3 {
        font-size: 3vmin;
        margin-bottom: 2vmin;
        color: $blackColor;
        text-align: center;
    }
}

%event-modal {
    .title {
        position: sticky;
        top: -2px;
        background-image: url("@/assets/img/backgrounds/support-background.webp");
        font-family: $supportFont;
        background-size: cover;
        background-position: -1vmin 0vmin;
        text-align: center;
        background-color: $bgColor;
        padding: 2vmin 2vmin;
        border-bottom: 2px solid $primaryColor;
        z-index: 1;
        font-size: 4vmin;
        color: $supportColor;
        margin-bottom: 4vmin;
    }

    .subtitle {
        font-size: 2.5vmin;
        font-weight: 600;
        text-align: center;
        color: $secondaryColor;
        margin: 1vmin;
    }

    .image {
        width: 100%;

        img {
            width: 50%;
            margin: 0 25%;
        }
    }

    .section {
        padding: 1vmin 6vmin 2vmin 6vmin;
        border: 2px solid $primaryColor;
        border-radius: 5px;
        margin: 2vmin auto;
        background-color: #cad4d2;

        h3 {
            font-size: 3vmin;
            text-align: center;
        }

        .price {
            text-align: center;
            font-size: 2.5vmin;
        }

        &:first-of-type {
            margin-top: -3vmin;
        }

        &:last-of-type {
            margin-bottom: -3vmin;
        }
    }

    span {
        color: $secondaryColor;
        font-weight: bold;
        font-style: italic;
    }

    h4 {
        color: $primaryColor;
        font-size: 2.5vmin;
        margin: 1vmin;
    }

    strong {
        display: block;
        font-size: 1.5vmin;
        font-weight: 600;
        color: $secondaryColor;
        margin: 1vmin 1vmin 1vmin 0;
        font-style: italic;
    }

    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, $primaryColor, transparent);
        margin: 3vmin 0;
        opacity: 0.5;
        margin: 5vmin 0;
    }

    @media (max-width: $tabletBreakpoint) {
        .section .price {
            font-size: 2vmin;
        }
    }

    @media (max-width: $mobileBreakpoint) {
        .section .price {
            font-size: 2.5vmin;
        }
    }

    @media (max-width: $xSmallBreakpoint) {
        .section .price {
            font-size: 3vmin;
        }
    }
}

%wedding-modal {
    .subtitle {
        font-size: 2.5vmin;
        font-weight: 600;
        text-align: center;
        color: $secondaryColor;
        margin: 1vmin;
    }

    .image {
        width: 100%;

        img {
            width: 50%;
            margin: 0 25%;
        }
    }

    .section {
        padding: 1vmin 6vmin 2vmin 6vmin;

        &:first-of-type {
            margin-top: -3vmin;
        }

        &:last-of-type {
            margin-bottom: -3vmin;
        }
    }

    span {
        color: $secondaryColor;
        font-weight: bold;
        font-style: italic;
    }

    strong {
        display: block;
        font-size: 1.5vmin;
        font-weight: 600;
        color: $secondaryColor;
        margin: 1vmin 1vmin 1vmin 0;
        font-style: italic;
    }

    hr {
        border: none;
        height: 2px;
        background: linear-gradient(to right, $primaryColor, transparent);
        margin: 3vmin 0;
        opacity: 0.5;
        margin: 5vmin 0;
    }

    @media (max-width: $tabletBreakpoint) {
        .subtitle {
            font-size: 3.2vmin;
        }

        strong {
            font-size: 2vmin;
        }
    }

    @media (max-width: $mobileBreakpoint) {
        .subtitle {
            font-size: 3vmin;
        }

        strong {
            font-size: 2.5vmin;
        }
    }

    @media (max-width: $xSmallBreakpoint) {
        .subtitle {
            font-size: 3.5vmin;
        }

        strong {
            font-size: 3vmin;
        }
    }
}