@use "@/assets/scss/variables.scss"as *;

%follow-btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1.5rem;
    background-color: $primaryColor;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.5rem;
    text-decoration: none;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $secondaryColor;
    }

    .icon {
        font-size: 1rem;
    }
}

// HTML 
//  <router-link to="/aktualnosci" class="news-btn">
//      Pokaż wszystkie aktualności
//      <font-awesome-icon icon="fa-solid fa-arrow-right" class="icon" />
//  </router-link>