$primaryColor: #485e88;
$secondaryColor: #02735E;
$supportColor: #F2CA52;
$textColor: #333333;
$bgColor: #e3e7e6;
$blackColor: #191919;

$fancyFont: "Eagle Lake",
serif;
$textFont: "Montserrat Alternates",
sans-serif;
$supportFont: "Madimi One",
sans-serif;