// @import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primaryColor: #485e88;
$secondaryColor: #02735E;
$supportColor: #FFD700;
$textColor: #121212;
$bgColor: #e3e7e6;
$blackColor: #0D0D0D;


$textFont: "Tinos",
serif;
$fancyFont: "Eagle Lake",
serif;